<div class="o-techdocs-content">
	<p>When you run the perf-widget, a series of insights will appear in the bottom right corner of the web page you've had analysed. If we've determined a result from one of our chosen 3rd party providers to be positive, we'll show a friendly, green checkmark next to that insight, along with some helpful text and a link to view the results of the test that we've run. This page lays out what we think merits either a positive of a negative reponse.</p>
</div>

<h2><strong>SSL Labs</strong></h2>

<div class="o-techdocs-table-wrapper"><table>
	<thead>
		<tr><th>Icon</th><th>Grade</th><th>SSL Labs Score</th><th>What does it mean?</th></tr>
	</thead>
	<tbody>
		<tr><td><img src="/static/images/check.png" /></td><td class="">A</td><td>&gt;=80</td><td>Your server is very secure.</td></tr>
		<tr><td><img src="/static/images/issue.png" /></td><td class="">B</td><td>&gt;=65</td><td>Your server is secure, but steps could be taken to improve its security.</td></tr>
		<tr><td><img src="/static/images/issue.png" /></td><td class="">C</td><td>&gt;=50</td><td>mostpopular.webservices.ft.com</td></tr>
		<tr><td><img src="/static/images/issue.png" /></td><td class="">D</td><td>&gt;=35</td><td>mostpopular.webservices.ft.com</td></tr>
		<tr><td><img src="/static/images/issue.png" /></td><td class="">E</td><td>&gt;=30</td><td>mostpopular.webservices.ft.com</td></tr>
		<tr><td><img src="/static/images/issue.png" /></td><td class="">F</td><td>&lt;=20</td><td>mostpopular.webservices.ft.com</td></tr>
	</tbody>
</table></div>