<header data-o-component="o-header" class="o-header">
	<div class="o-header__container">
		<div class="o-header__inner">
			<div class="o-header__primary">
				<div class="o-header__primary__left">
					<a class="o-header__logo o-header__logo--ft" href="http://labs.ft.com">
						<abbr title="Financial Times">FT</abbr>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>