<div class="o-techdocs-hero">
	<h2 class="o-techdocs-hero__title">
		FT Labs Perf-Widget Chrome Extension and Service
	</h2>
</div>

<div class="o-techdocs-container">
	<div class="o-techdocs-main">

		<div class="o-techdocs-content">
			<h3>What is this?</h3>
			<p>Perf-Widget (or Insights, or P-Widge) is a chrome extension and service that allows you to benchmark and compare FT sites with competitors</p>

			<h3>How do I use it?</h3>
			<p>First, you need to install the extension from the <a href="https://chrome.google.com/webstore/detail/ftlabs-perf-widget/hgfgbaljedngeiiofboencneedjhklll">chrome webstore</a>.</p>

			<p>Next, browse to any webpage of your choosing that you would like to run performance checks for. ft.com sites will test automatically if the extension is enabled.</p>

			<p>For other sites you will need to click on the 'Show Widget' button to trigger the analysis.
			<img src="/static/images/popup.png" style="float: right;" />
			</p>

			<p>If tests have never been run for the page you've chosen, a small modal will appear in the bottom-right corner of the webpage informing you that the web page has been added to the queue.
			The modal will stay until the results appear but it is okay to close it and open it again later.
			</p>

			<p>If tests for the page you've selected have been run recently, they will appear immediately.</p>

			<p>If tests for the page you've selected have been run in the past, but not recently (longer than a week at present), they will be run again.</p>

	</div>

</div>