<!DOCTYPE html>
<html>

	<head>

		<title>FT Labs Perf-Widget</title>
		<link rel="stylesheet" href="https://origami-buildservice-qa.herokuapp.com/bundles/css?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4" />

	</head>

	<body>

		<header data-o-component="o-header" class="o-header">
			<div class="o-header__container">
				<div class="o-header__inner">
					<div class="o-header__primary">
						<div class="o-header__primary__left">
							<a class="o-header__logo o-header__logo--ft" href="http://labs.ft.com">
								<abbr title="Financial Times">FT</abbr>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<main>
			<div class="o-techdocs-hero">
				<h2 class="o-techdocs-hero__title">
					FT Labs Perf-Widget Chrome Extension and Service
				</h2>
			</div>

			<div class="o-techdocs-container">
				<div class="o-techdocs-main">

					<div class="o-techdocs-content">
					<h2>Contrast Analysis</h2>
					<div id="contrastChartWrapper"></div>

					<p>This insight provides information about the legibility of your site.</p>
					<p>It compares the css text colour to the css background colour for block of text on the page.</p>
					<p>It then works out the contrast ratio (a number between 0 and 21). It is based upon <a href="http://leaverou.github.io/contrast-ratio/">this tool by Lea Verou.</a> Where 1 is no contrast (same colour) and 21 is comparing white to black</p>
					<p>A rating of below 4 is poor contrast and should be considered illegible.</p>
					<p>The tool measures that enough of the site is above a threshold of 4 and provides a small graph showing what proportion of the text on your page is legible.</p>

				</div>

			</div>

		</main>

		<script src="https://origami-buildservice-qa.herokuapp.com/bundles/js?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4" async defer></script>
		<script src="/static/contrast-bundle.js" async defer></script>

	</body>

</html>
