<!DOCTYPE html>
<html>

	<head>

		<title>FT Labs Perf-Widget</title>
		<link rel="stylesheet" href="https://origami-buildservice-qa.herokuapp.com/bundles/css?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4" />

		<style type="text/css">
			body {
				font-family: BentonSans;
			}

			.o-techdocs-card .o-techdocs-card__subtitle::before{
				content: 'Drag me to your bookmarks bar';
			}

		</style>

	</head>

	<body>

		<header data-o-component="o-header" class="o-header">
			<div class="o-header__container">
				<div class="o-header__inner">
					<div class="o-header__primary">
						<div class="o-header__primary__left">
							<a class="o-header__logo o-header__logo--ft" href="http://labs.ft.com">
								<abbr title="Financial Times">FT</abbr>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<main>
			<div class="o-techdocs-hero">
				<h2 class="o-techdocs-hero__title">
					FT Labs Perf-Widget Bookmarklet and Service
				</h2>
			</div>

			<div class="o-techdocs-container">
				<div class="o-techdocs-main">

					<a href="{{bookmarklet}}" class="o-techdocs-card">
						<div class="o-techdocs-card__context">
							<div class="o-techdocs-card__heading">
								<div class="o-techdocs-card__title">Perf-Widget</div>
								<div class="o-techdocs-card__subtitle"></div>
							</div>
						</div>
					</a>

					<div class="o-techdocs-content">
						<h3>What is this?</h3>
						<p>Perf-Widget (or Insights, or P-Widge) is a chrome extension and service that allows you to benchmark and compare FT sites with competitors</p>

						<h3>How do I use it?</h3>
						<p>[First, you need to install the extension from the chrome webstore.](https://chrome.google.com/webstore/detail/ftlabs-perf-widget/hgfgbaljedngeiiofboencneedjhklll)</p>

						<p>Next, browse to any webpage of your choosing that you would like to run performance checks for. ft.com sites will test automatically if the extension is enabled.</p>

						<p>For other sites you will need to click on the 'Show Widget' button to trigger the analysis.
						<img src="/static/images/popup.png" style="float: right;" />
						</p>

						<p>If tests have never been run for the page you've chosen, a small modal will appear in the bottom-right corner of the webpage informing you that the web page has been added to the queue.
						The modal will stay until the results appear but it is okay to close it and open it again later.
						</p>

						<p>If tests for the page you've selected have been run recently, they will appear immediately.</p>

						<p>If tests for the page you've selected have been run in the past, but not recently (longer than a week at present), they will be run again.</p>

				</div>

			</div>

		</main>

		<script src="https://origami-buildservice-qa.herokuapp.com/bundles/js?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4"></script>

	</body>

</html>
