<!DOCTYPE html>
<html>

	<head>

		<title>FT Labs Perf-Widget</title>
		<link rel="stylesheet" href="https://origami-buildservice-qa.herokuapp.com/bundles/css?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4" />

		<style type="text/css">
			body {
				font-family: BentonSans;
			}
		</style>

	</head>

	<body>

		<header data-o-component="o-header" class="o-header">
			<div class="o-header__container">
				<div class="o-header__inner">
					<div class="o-header__primary">
						<div class="o-header__primary__left">
							<a class="o-header__logo o-header__logo--ft" href="http://labs.ft.com">
								<abbr title="Financial Times">FT</abbr>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<main>
			<div class="o-techdocs-hero">
				<h2 class="o-techdocs-hero__title">
					FT Labs Perf-Widget Bookmarklet and Service
				</h2>
			</div>

			<div class="o-techdocs-container">
				<div class="o-techdocs-main">

					<a href="{{bookmarklet}}" class="o-techdocs-card">
						<div class="o-techdocs-card__context">
							<div class="o-techdocs-card__heading">
								<div class="o-techdocs-card__title">Perf-Widget</div>
								<div class="o-techdocs-card__subtitle">Drag me to your bookmarks bar</div>
							</div>
						</div>
					</a>

					<div class="o-techdocs-content">
						<h3>What is this?</h3>
						<p>Perf-Widget (or Insights, or P-Widge) is a bookmarklet and service that allows you to benchmark and compare FT sites with competitors</p>

						<h3>How do I use it?</h3>
						<p>First, you need to add the <a href="{{bookmarklet}}">Perf-Widget</a> to your bookmarks bar. All you have to do is drag the link up to bookmark bar add drop it to add it. If you don't have your bookmark bar enabled, <a href="#bbar">here's some instructions</a></p>

						<p>Next, browse to any webpage of your choosing that you would like to run performance checks for. Simply click the perf-widget bookmark in your toolbar and the benchmarks will begin.</p>

						<p>If tests have never been run for the page you've chosen, a small modal will appear in the bottom-right corner of the webpage informing you that the web page has been added to the queue. The benchmarks can take up to a couple of minutes to complete, so don't hammer the button. When you wish to check to see if the tests have completed, simply click the bookmarklet again. If your insights are ready, they will be displayed, otherwise another modal will appear informing you that the checks are running</p>

						<p>If tests for the page you've selected have been run recently, they will appear immediately.</p>

						<p>If tests for the page you've selected have been run in the past, but not recently (longer than a week at present), they will be run again.</p>

						<h3 id="bbar">Enabling the bookmarks bar (Chrome + Firefox)</h3>

						<p>Some browsers don't have a bookmark bar enabled by default. For the most seemless use of the bookmarklet, you can follow the instructions below to enable one.</p>

						<h4><strong>Chrome</strong></h4>

							<p>First, open Chrome make sure that your bookmark bar is not already visible. It is the bar just beneath the URL bar and should, at the very least, have an Apps bookmark.</p>

							<img src="/static/images/bookmark_bar.png" />

							<p>If this is present, you already have Chrome's bookmark bar enabled and you can just drag the card at the top to your bookmarks bar to add it. Otherwise, you should continue reading.</p>

							<p>Click the 'view' item in your menu bar and then click the 'Always Show Bookmarks Bar'</p>

							<img src="/static/images/bookmark_check.png" />

							<p>The bookmark bar should appear immediately beneath your URL bar. You can now drag bookmarklet to it to save.</p>

						<h4><strong>Firefox</strong></h4>

							<p>First, open Chrome make sure that your bookmark bar is not already visible. It is the bar just beneath the URL bar.</p>

							<p>If this is present, you already have Firefox's bookmark bar enabled and you can just drag the card at the top to your bookmarks bar to add it. Otherwise, you should continue reading.</p>

							<p>Click the 'view' item in your menu bar and mouseover the 'Toolbars' option. A new sub-menu should appear. Click the 'Bookmarks Toolbar' option and the bookmark toolbar should appear.</p>

							<img src="/static/images/bookmark_check_firefox.png" />



					</div>

				</div>

			</div>

		</main>

		<script src="https://origami-buildservice-qa.herokuapp.com/bundles/js?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4"></script>

	</body>

</html>