<!DOCTYPE html>
<html>

	<head>

		<title>FT Labs Perf-Widget</title>
		<link rel="stylesheet" href="https://origami-buildservice-qa.herokuapp.com/bundles/css?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4" />

		<style type="text/css">
			body {
				font-family: BentonSans;
			}
		</style>

	</head>

	<body>

		<header data-o-component="o-header" class="o-header">
			<div class="o-header__container">
				<div class="o-header__inner">
					<div class="o-header__primary">
						<div class="o-header__primary__left">
							<a class="o-header__logo o-header__logo--ft" href="http://labs.ft.com">
								<abbr title="Financial Times">FT</abbr>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<main>
			<div class="o-techdocs-hero">
				<h2 class="o-techdocs-hero__title">
					FT Labs Perf-Widget Bookmarklet and Service
				</h2>
			</div>

			<div class="o-techdocs-container">

				<div class="o-techdocs-main">

					<div class="o-techdocs-content">
						<h3>What is this?</h3>
						<p>Perf-Widget (or Insights, or P-Widge) is a bookmarklet and service that allows you to benchmark and compare FT sites with competitors</p>

						<h3>How do I use it?</h3>
						<p>First, you need to add the <a href="{{bookmarklet}}">Perf-Widget</a> to your bookmarks bar. All you have to do is drag the link up to bookmark bar add drop it to add it.</p>

					</div>

				</div>

			</div>

		</main>

		<script src="https://origami-buildservice-qa.herokuapp.com/bundles/js?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4"></script>

	</body>

</html>