<!DOCTYPE html>
<html>

	<head>

		<title>FT Labs Perf-Widget</title>

		<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4,o-hierarchical-nav@^3.1.0,o-header@^4.0.0" />

		<style type="text/css">
			html, body {
				font-family: BentonSans;
				margin: 0;
				margin-bottom: 5em;
			}

			.o-header__nav--tools-theme [data-o-hierarchical-nav-level='1']>li>a {
				width: 100%;
			}

			.o-header__nav--tools-theme [data-o-hierarchical-nav-level='1']>li>a {
				font-size: 1rem;
			}
		</style>

	</head>

	<body>

			{{>header}}

			<main>
				{{>(lookup . 'partial')  }}
			</main>

			<script src="https://origami-build.ft.com/v2/bundles/js?modules=o-techdocs@^5.0.1,o-fonts@^1.6.4,o-hierarchical-nav@^3.1.0"></script>

	</body>

</html>
